fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
moviepy==1.0.3
numpy==1.26.4
pillow==10.2.0
opencv-python==4.9.0.80
pydub==0.25.1
requests==2.31.0
python-dotenv==1.0.1
loguru==0.7.2
matplotlib==3.8.3
svg.path==6.2
scipy==1.12.0 